<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mark Attendance</title>
  <link rel="stylesheet" href="./stylesheets/mark.css" />
</head>
<body>
  <div id="datetime">⏳ Loading date, day & time...</div>

  <form action="/mark" method="POST">
    <input type="hidden" name="name" value="<%= student.name %>">
    <input type="hidden" name="unique_id" value="<%= student.unique_id %>">
  
    <label for="subject">Choose Subject:</label>
    <select name="subject" required>
      <option value="" disabled selected>Select subject</option>
     <option value = "Engineering Mathematics" disabled selected>Engineering Mathematics</option>
     <option value = "Engineering Physics">Engineering Physics</option>
     <option value = "Programming for Problem Solving"disabled selected>Programming for Problem Solving</option>
     <option value = "Engineering Chemistry"disabled selected>Engineering Chemistry</option>
     <option value = "Engineering Biology"disabled selected>Engineering Biology</option>
     
    </select>
  
    <button type="submit">Mark Attendance</button>
  </form>

  <div class="message" id="message"></div>

  <script src="./javascripts/mark.js"></script>
</body>
</html>
